{#<li>Text X: {{ testvalue.x }}</li>
<li>Test Y: {{ testvalue.y }}</a></li>
<li>Test Z: {{ testvalue.z }}</li>#}
{% block articlesModule %}
    NewsID:{{ article.newsID }}</br>
    Author:{{ article.authorID }}</br>
    Article:{{ article.article }}</br>
    Title:{{ article.title }}</br>
    Category:{{ article.category }}</br>
    Readed:{{ article.readed }}</br>
    Uploaded:{{ article.released }}</br></br>
{% endblock %}