{% block profileModule %}
    <form>
        <div>
            <label>Username:</label>
            <label>{{ session.username }}</label>
        </div>
        <div>
            <label>Name:</label>
            <label>{{ session.lastname }} {{ session.firstname }}</label>
        </div>
        <div>
            <label>Date of Birth:</label>
            <label>{{ session.dateofbirth }}</label>
        </div>
        <div>
            <label>E-mail::</label>
            <label>{{ session.email }}</label>
        </div>
        <div>
            <label>Registered:</label>
            <label>{{ session.registered }}</label>
        </div>
        <div>
            <label>Last Here:</label>
            <label>{{ session.lastlogin }}</label>
        </div>
    </form>
{% endblock %}